@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  background-color: #1a1a1a;
}

header {
  padding: 1rem 4rem 4rem;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.homepage {
  background-image: url("../images/laptop-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header.homepage .header-content {
  margin-top: 9rem;
  margin-bottom: 6rem;
}

header.homepage .header-content .primary-text h1 {
  font-weight: bolder;
  font-size: 2rem;
  font-weight: bold;
  color: #a43136;
}

header.homepage .header-content .supporting-text p {
  color: #d9d9d9;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

header.homepage .header-content .cta-button .btn {
  background-color: #1a1a1a;
  color: #d1c7c7;
  font-size: .8rem;
  font-weight: bold;
  width: 12rem;
  padding: .7rem;
  -webkit-box-shadow: 0 5px 3px rgba(10, 10, 10, 0.7), 0 -2px 2px rgba(153, 153, 153, 0.3);
          box-shadow: 0 5px 3px rgba(10, 10, 10, 0.7), 0 -2px 2px rgba(153, 153, 153, 0.3);
}

header.terahub .header-content {
  margin-top: 9rem;
  margin-bottom: 6rem;
}

header.terahub .header-content .primary-text h1 {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #b9cbda;
}

header.terahub .header-content .cta-text p {
  color: #a6a6a6;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 3rem;
}

@-webkit-keyframes keep-moving {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes keep-moving {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header.terahub .keep-moving-icon img {
  -webkit-animation: keep-moving 1s;
          animation: keep-moving 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (min-width: 576px) {
  header {
    padding: 2rem 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-size: cover;
  }
}

header nav {
  padding: 0px !important;
  font-family: inherit;
  font-weight: 500;
}

header nav ul li a {
  color: #d9d9d9 !important;
}

main.mainpage-content {
  padding: 0rem 1rem;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 996px) {
  main.mainpage-content {
    padding: 0rem 4rem;
  }
}

main.mainpage-content section {
  margin-top: 10rem;
  margin-bottom: 9rem;
}

main.mainpage-content section.about-us {
  color: #b3b3b3;
  font-size: 1.1rem;
  font-weight: 400;
}

main.mainpage-content section.about-us div {
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 996px) {
  main.mainpage-content section.about-us div {
    width: 60%;
  }
}

main.mainpage-content section.about-us div p {
  line-break: auto;
  letter-spacing: 1px;
}

main.mainpage-content section.services h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #8c8c8c;
}

main.mainpage-content section.services h1::after {
  display: block;
  content: '';
  border-bottom: 5px solid #8c8c8c;
  margin-top: 10px;
  width: 70%;
}

@media screen and (max-width: 576px) {
  main.mainpage-content section.services h1 {
    font-size: 2.5rem;
  }
}

main.mainpage-content section.services .info {
  margin: 4rem 0rem;
  color: #8c8c8c;
}

@media screen and (min-width: 996px) {
  main.mainpage-content section.services .info {
    margin: 4rem 1rem;
  }
}

main.mainpage-content section.services .info h3 {
  font-weight: bold;
  font-size: 2rem;
}

main.mainpage-content section.services .info .details {
  font-size: .9rem;
  letter-spacing: 1px;
}

main.mainpage-content section.services .image {
  margin: 4rem 1rem;
  text-align: right;
}

main.mainpage-content section.services .image img {
  width: 100%;
}

@media screen and (min-width: 996px) {
  main.mainpage-content section.services .image img {
    margin-top: 5rem;
  }
}

main.mainpage-content section.contact-us {
  color: #8c8c8c;
}

main.mainpage-content section.contact-us h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #8c8c8c;
}

main.mainpage-content section.contact-us h1::after {
  display: block;
  content: '';
  border-bottom: 5px solid #8c8c8c;
  margin-top: 10px;
  width: 70%;
}

@media screen and (max-width: 576px) {
  main.mainpage-content section.contact-us h1 {
    font-size: 2.5rem;
  }
}

main.mainpage-content section.contact-us .form-container {
  padding: 1rem;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0px -3px 3px rgba(230, 230, 230, 0.15), 0px 5px 7px rgba(20, 20, 20, 0.9);
          box-shadow: 0px -3px 3px rgba(230, 230, 230, 0.15), 0px 5px 7px rgba(20, 20, 20, 0.9);
  border-radius: 50px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 996px) {
  main.mainpage-content section.contact-us .form-container {
    margin-top: 1px;
  }
}

main.mainpage-content section.contact-us .form-container .inner-container {
  border-radius: 50px;
  padding: 1.5rem;
  background-color: #171717;
  -webkit-box-shadow: inset 0px -3px 3px rgba(230, 230, 230, 0.15), inset 0px 5px 7px rgba(20, 20, 20, 0.9);
          box-shadow: inset 0px -3px 3px rgba(230, 230, 230, 0.15), inset 0px 5px 7px rgba(20, 20, 20, 0.9);
}

main.mainpage-content section.contact-us .form-container .inner-container form .form-control-custom {
  width: 100%;
  padding: .4rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #1c1c1c;
}

main.mainpage-content section.contact-us .form-container .inner-container form .form-control-custom::-webkit-input-placeholder {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .9rem;
}

main.mainpage-content section.contact-us .form-container .inner-container form .form-control-custom:-ms-input-placeholder {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .9rem;
}

main.mainpage-content section.contact-us .form-container .inner-container form .form-control-custom::-ms-input-placeholder {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .9rem;
}

main.mainpage-content section.contact-us .form-container .inner-container form .form-control-custom::placeholder {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .9rem;
}

main.mainpage-content section.contact-us .form-container .inner-container form .btn-send-message {
  background-color: #1c1c1c;
  color: #9c9c9c;
  -webkit-box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.2), 0px 5px 7px rgba(20, 20, 20, 0.9);
          box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.2), 0px 5px 7px rgba(20, 20, 20, 0.9);
  width: 12rem;
  border-radius: 20px;
}

main.iterahub-content {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main.iterahub-content section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

main.iterahub-content section.introduction p {
  color: #a6a6a6;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

main.iterahub-content section.our-hub img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 998px) {
  main.iterahub-content section.our-hub img {
    height: 300px;
  }
}

main.iterahub-content section.featuring {
  color: #a6a6a6;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

main.iterahub-content section.made-for {
  color: #a6a6a6;
  margin-top: 15rem !important;
}

main.iterahub-content section.made-for h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

main.iterahub-content section.made-for .row div.details, main.iterahub-content section.made-for .row div.image {
  margin-bottom: 8rem;
}

main.iterahub-content section.made-for .row .details h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.9rem;
}

main.iterahub-content section.made-for .row .details p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

main.iterahub-content section.partners {
  margin-bottom: 8rem;
}

main.iterahub-content section.partners h3 {
  font-weight: bold;
  color: #a6a6a6;
}

main.iterahub-content section.partners .partner-logo img {
  width: 150px;
  margin-right: 3rem;
}

main.iterahub-content section.contact-us {
  color: #a6a6a6;
}

main.iterahub-content section.contact-us p {
  font-size: 1.1rem;
}

main.iterahub-content section.contact-us h3 {
  font-weight: bold;
  font-size: 2rem;
}

main.about-us-page {
  padding: 0rem 1rem;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 996px) {
  main.about-us-page {
    padding: 0rem 4rem;
  }
}

main.about-us-page section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

main.about-us-page section.about-us-introduction h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #8c8c8c;
}

main.about-us-page section.about-us-introduction h1::after {
  display: block;
  content: '';
  border-bottom: 5px solid #8c8c8c;
  margin-top: 10px;
  width: 70%;
}

@media screen and (max-width: 576px) {
  main.about-us-page section.about-us-introduction h1 {
    font-size: 2.5rem;
  }
}

main.about-us-page section.about-us-introduction p {
  color: #a6a6a6;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

main.about-us-page section.services h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #8c8c8c;
}

main.about-us-page section.services h1::after {
  display: block;
  content: '';
  border-bottom: 5px solid #8c8c8c;
  margin-top: 10px;
  width: 70%;
}

@media screen and (max-width: 576px) {
  main.about-us-page section.services h1 {
    font-size: 2.5rem;
  }
}

main.about-us-page section.services .info {
  margin: 4rem 0rem;
  color: #8c8c8c;
}

@media screen and (min-width: 996px) {
  main.about-us-page section.services .info {
    margin: 4rem 1rem;
  }
}

main.about-us-page section.services .info h3 {
  font-weight: bold;
  font-size: 2rem;
}

main.about-us-page section.services .info .details {
  font-size: .9rem;
  letter-spacing: 1px;
}

main.about-us-page section.services .image {
  margin: 4rem 1rem;
  text-align: right;
}

main.about-us-page section.services .image img {
  width: 100%;
}

@media screen and (min-width: 996px) {
  main.about-us-page section.services .image img {
    margin-top: 5rem;
  }
}

footer {
  padding: 2rem 4rem 4rem;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #8c8c8c;
}
/*# sourceMappingURL=main.css.map */