@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@mixin font-family {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin section-header {
    h1{
        font-size: 3.5rem;
        font-weight: bold;
        color: hsl(207, 0%, 55%);
        &::after{
            display: block;
            content: '';
            border-bottom: 5px solid hsl(207, 0%, 55%);
            margin-top: 10px;
            width: 70%;
        }
        @media screen and (max-width: 576px){
            font-size: 2.5rem;
        }
    }
}

body{
    background-color: hsl(0, 0%, 10%);
}

header{
    &.homepage{
        background-image: url('../images/laptop-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .header-content{
            margin-top: 9rem;
            margin-bottom: 6rem;
            .primary-text{
                h1{
                    font-weight: bolder;
                    font-size: 2rem;
                    font-weight: bold;
                    color: #a43136;
                }
            }
            .supporting-text{
                p{
                    color: hsl(0, 0%, 85%);
                    font-size: .8rem;
                    font-weight:600;
                    letter-spacing: 1px;
                }
            }
            .cta-button{
                .btn{
                    background-color: hsl(0, 0%, 10%);
                    color: hsl(0, 10%, 80%);
                    font-size: .8rem;
                    font-weight: bold;
                    width: 12rem;
                    padding: .7rem;
                    box-shadow: 0 5px 3px hsla(0, 0%, 4%, .70),  0 -2px 2px hsla(0, 0%, 60%, .30);
                }
            }
        }
    }
    &.terahub{
        .header-content{
            margin-top: 9rem;
            margin-bottom: 6rem;
            .primary-text{
                h1{
                    font-weight: bolder;
                    font-size: 2.5rem;
                    color: hsl(207, 31%, 79%);
                }
            }
            .cta-text{
                p{
                    color: hsl(207, 0%, 65%);
                    font-size: 1.2rem;
                    font-weight:600;
                    letter-spacing: 1px;
                    margin-top: 3rem;
                }
            }
           
        }
        @keyframes keep-moving {
            0%{
                transform: translateY(0px);
            }
            50%{
                transform: translateY(20px);
            }
            100%{
                transform: translateY(0px);
            }
        }
        .keep-moving-icon{
            img{
                animation: keep-moving 1s;
                animation-iteration-count: infinite;
            }
        }
    }
    padding: 1rem 4rem 4rem;
    @media screen and (min-width: 576px){
        padding: 2rem 4rem 4rem;
    }
    @include font-family();

    @media screen and (max-width: 768px) {
        background-size: cover;
    }
    nav{
        padding: 0px!important;
        font-family: inherit;
        font-weight: 500;
        ul{
            li{
                a{
                    color: hsl(207, 0%, 85%)!important;
                }
            }
        }
    }
   
}


@import 'partials/homepage';
@import 'partials/iterahub';
@import 'partials/about';

footer{
    padding: 2rem 4rem 4rem;
    @include font-family();
    color: hsl(207, 0%, 55%);
}