@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@mixin font-family {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin section-header {
    h1{
        font-size: 3.5rem;
        font-weight: bold;
        color: hsl(207, 0%, 55%);
        &::after{
            display: block;
            content: '';
            border-bottom: 5px solid hsl(207, 0%, 55%);
            margin-top: 10px;
            width: 70%;
        }
        @media screen and (max-width: 576px){
            font-size: 2.5rem;
        }
    }
}

body{
    background-color: hsl(0, 0%, 10%);
}

header{
    background-image: url('../images/pastel-4829602_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    padding: 1rem 4rem 4rem;
    @media screen and (min-width: 576px){
        padding: 2rem 4rem 4rem;
    }
    @include font-family();

    @media screen and (max-width: 768px) {
        background-size: cover;
    }
    nav{
        padding: 0px!important;
        font-family: inherit;
        font-weight: 500;
        ul{
            li{
                a{
                    color: hsl(207, 0%, 85%)!important;
                }
            }
        }
    }
    .header-content{
        margin-top: 9rem;
        margin-bottom: 6rem;
        .primary-text{
            h1{
                font-weight: bolder;
                font-size: 2.5rem;
                color: hsl(207, 31%, 79%);
            }
        }
        .supporting-text{
            p{
                color: hsl(207, 0%, 85%);
                font-size: .8rem;
                font-weight:600;
                letter-spacing: 1px;
            }
        }
        .cta-button{
            .btn{
                background-color: hsl(0, 0%, 10%);
                color: hsl(0, 10%, 80%);
                font-size: .8rem;
                font-weight: bold;
                width: 12rem;
                padding: .7rem;
                box-shadow: 0 5px 3px hsla(0, 0%, 4%, .70),  0 -2px 2px hsla(0, 0%, 60%, .30);
            }
        }
    }
}
main.mainpage-content{
    padding: 0rem 1rem;
    @media screen and (min-width: 996px){
        padding: 0rem 4rem;        
    }
    @include font-family();
    section{
        margin-top: 10rem;
        margin-bottom: 9rem;
        &.about-us{
            color: hsl(0, 0%, 70%);
            font-size: 1.1rem;
            font-weight: 400;
            div{
                text-align: center;
                margin: auto;
                @media screen and (min-width: 996px){
                    width: 60%;
                }
                p{
                    line-break: auto;
                    letter-spacing: 1px;
                }
            }
        }
        &.services{
           @include section-header();
            .info{
                margin: 4rem 0rem;
                @media screen and (min-width: 996px){
                    margin: 4rem 1rem;
                }
                color: hsl(207, 0%, 55%);
                h3{
                    font-weight: bold;
                    font-size: 2rem;
                }
                .details{
                    font-size: .9rem;
                    letter-spacing: 1px;
                }
            }
            .image{
                margin: 4rem 1rem;
                text-align: right;
                img{
                    width: 100%;
                    @media screen and (min-width: 996px){
                        margin-top: 5rem;
                    }
                }
            }
        }
        &.contact-us{
            @include section-header();
            color: hsl(207, 0%, 55%);
            .form-container{
                padding: 1rem;
                background-color: hsl(0, 0%, 11%);
                box-shadow: 0px -3px 3px  hsla(0, 0%, 90%, .15), 0px 5px 7px  hsla(0, 0%, 8%, .9);
                border-radius: 50px;
                margin-top: 1.5rem;
                @media screen and (min-width: 996px){
                    margin-top: 1px;
                }
                .inner-container{
                    border-radius: 50px;
                    padding: 1.5rem;
                    background-color: hsl(0, 0%, 9%);
                    box-shadow: inset 0px -3px 3px  hsla(0, 0%, 90%, .15), inset 0px 5px 7px  hsla(0, 0%, 8%, .9);
                    form{
                        .form-control-custom{
                            width: 100%;
                            padding: .4rem 1rem;
                            border-radius: 5px;
                            border: none;
                            background-color: hsl(0, 0%, 11%);
                            &::placeholder{
                                @include font-family();
                                font-size: .9rem;
                            }
                        }
                        .btn-send-message{
                            background-color: hsl(0, 0%, 11%);
                            color: hsl(0, 0%, 61%);
                            box-shadow: 0px -1px 3px  hsla(0, 0%, 100%, .2), 0px 5px 7px  hsla(0, 0%, 8%, .9);
                            width: 12rem;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    padding: 2rem 4rem 4rem;
    @include font-family();
    color: hsl(207, 0%, 55%);
}