main.iterahub-content{
    @include font-family();
    section{
        margin-top: 5rem;
        margin-bottom: 5rem;
        &.introduction{
            p{
                color: hsl(207, 0%, 65%);
                font-size: 1.2rem;
                font-weight:600;
                letter-spacing: 1px;
            }   
        }
        &.our-hub{
            .hub-image{
                position: relative;
                img{
                    width: 100%;
                    object-fit: cover;
                    @media screen and (min-width: 998px){
                         height: 300px;
                    }
                }
            }
            .hub-image-description{
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: .8;
                background-color: black;
                display: grid;
                h2{
                    align-self: center;
                    margin: auto;
                    color: hsl(0, 0%, 80%);
                }
            }
        }
        &.featuring{
            color: hsl(207, 0%, 65%);
            font-size: 1.2rem;
            
            letter-spacing: 1px;
        }
        &.made-for{
            color: hsl(207, 0%, 65%);
            margin-top: 15rem!important;
            h2{
                font-size: 2.3rem;
                font-weight: 700;
            }
            .row{
                div.details, div.image{
                    margin-bottom: 8rem;
                }
                .details{
                    
                    h4{
                        margin-bottom: 1rem;
                        font-weight: bold;
                        font-size: 1.9rem;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        &.partners{
            margin-bottom: 8rem;
            h3{
                font-weight: bold;
                color: hsl(207, 0%, 65%);
            }
            .partner-logo{
                img{
                    width: 150px;
                    margin-right: 3rem;
                }
            }
        }
        &.contact-us{
            color: hsl(207, 0%, 65%);
            p{
                font-size: 1.1rem;
            }
            h3{
                font-weight: bold;
                font-size: 2rem;
            }
        }
    }
}